.media--fullwidth {
    width: 100%;
    height: auto;
}

header>h1::before {
    content: url("../../public/icones/book.svg");
}

nav>ul>li::before {
    content: url("../../public/icones/bag-plus.svg");
}

